body{
  background-color: #c9c9c9;
  height: calc(100vh +8);
}

header{
  height: 6vh;
  display: flex;
  align-items: center;
}

header nav{
  display: flex;
}

header nav a{
  padding: 0 10px;
  margin: 0 5px;
  font-size: 2.6vh;
}

article{
  height: 90vh;
}

.timeUntil{
  display: flex;
  height: 100%;
}

.holidaySelection{
  display: flex;
  flex-direction: column;
  width: 30vw;
  flex-grow: 2;
}

.holidaySelection div{
  background-color: blanchedalmond;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-size: 2vw;
}

.countdown_container{
  width: 100vw;
  background: linear-gradient(aliceblue, moccasin);
  font-size: 7vw;
}

.countdown_box{
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.countdown {
  width: 60%;
  font-size: 50%;
  display:flex;
  text-align: center;
  justify-content: space-around;
  padding: 0 2%;
}

#day, #hour, #minute, #seconds{
  display: flex;
  flex-direction: column;
}